<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles/battle.css">
    <script src="/scripts/jquery-3.2.1.js"></script>
    <script src="/scripts/main.js"></script>
  </head>
  <body>
    <header>
      <h1 class="title">Battleship Simulator</h1>
    </header>
    <button class="new-game">New Game</button>
    <!-- Important notifications: Turn, placement of ships -->
    <div class="notifications-outer"> Notifications
      <div class="notifications-body">
        <ul class="notifications-list">
          <li>Welcome to Battleship! </li>
          <li>Select a ship below the player grid, then click on grid squares to outline ship placement. When finished, press space.</li>
          <div class="ship-selection">
          </div>
          <div class="ship-error">
          </div>
          <div class="ships-placed">
          </div>
        </ul>
      </div>
    </div>
    <div class="player-titles">
      <div class="players">Player</div>
      <div class="players">Opponent</div>
    </div>
    <div class="playspace">
      <!-- Form of grid-area: N/W/S/E. Need at least a difference of 1. -->
      <div class="board1">
        <%const z = gridBoundary.letters%>
        <div class="box" style="grid-area: 1/1/1/1"></div>
        <%for(let i = 2; i <= 11; i++){%>
          <div class="box" style="grid-area: <%=1%>/<%=i%>/<%=2%>/<%=i+1%>"><%=z[i-2]%></div>
          <div class="box" style="grid-area: <%=i%>/<%=1%>/<%=i+1%>/<%=2%>"><%=i-1%></div>
        <%for(let j = 2; j <= 11; j++){%>
          <div class="box" id=<%=i-2%><%=j-2%> style="grid-area: <%=i%>/<%=j%>/<%=i+1%>/<%=j+1%>"></div>
        <%}};%>
      </div>
      <div class="board2">
        <div class="box" style="grid-area: 1/1/1/1"></div>
        <%for(let i = 2; i <= 11; i++){%>
        <div class="box" style="grid-area: <%=i%>/<%=1%>/<%=i+1%>/<%=2%>"><%=i-1%></div>
        <div class="box" style="grid-area: <%=1%>/<%=i%>/<%=2%>/<%=i+1%>"><%=z[i-2]%></div>
        <%for(let j = 2; j <= 11; j++){%>
        <div class="box" id=o<%=i-2%><%=j-2%> style="grid-area: <%=i%>/<%=j%>/<%=i+1%>/<%=j+1%>"></div>
        <%}}%>
      </div>
    </div>

    <!-- This allocates an area for ship images (which ships are operational and which aren't) -->
    <!-- Note that player ships should range from 0 to 4, and opponent ships from 5 to 9 -->
    <div id="ships-box-opponent" class="ships-boxes">
      <%for(let i = 5; i < 10; i++){%>
        <div id="<%=i%>" class=ships-box-inner></div>
      <%}%>
    </div>
    <div id="ships-box-player" class="ships-boxes">
      <%for(let i = 0; i < 5; i++){%>
        <div id="<%=i%>" class=ships-box-inner></div>
      <%}%>
    </div>
    <!-- The log takes note of if ships have been hit or sunk over the course of the game -->
    <div class="log-outer">Battle Log
      <div class="log-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac tellus quam. Sed mollis, odio et pharetra scelerisque, est nulla aliquet ipsum, eget elementum mauris mauris ut tellus. Ut et tincidunt lacus. Sed tellus enim, auctor ac ultricies ut, posuere nec ante. Nam pellentesque id elit quis tristique. Donec sagittis eget turpis sed commodo. Phasellus ut ligula ut augue vestibulum faucibus.

      </div>
    </div>
  </body>
</html>